@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400')

*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    height: 100%


a
    color: #def5ff


// Reference from http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
@mixin animation($animate)
    $animations: ''
    $animations: #{$animations + $animate}
    -webkit-animation: $animations
    -moz-animation: $animations
    -o-animation: $animations
    animation: $animations

@mixin keyframes($animationName)
    @-webkit-keyframes #{$animationName}
        @content
    @-moz-keyframes #{$animationName}
        @content
    @-o-keyframes #{$animationName}
        @content
    @keyframes #{$animationName}
        @content

@mixin rwd()
    @media screen and (max-width: 900px)
        @content

@include keyframes(blink)
    to
        visibility: hidden


// Content style

#upbar
    position: absolute
    padding: 0.5em 2em
    width: 100%
    z-index: -1
    @include rwd()
        display: none
    img
        width: 100%

body > header
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%

    section
        display: block
        width: 90%
        max-width: 700px
        margin: 0 auto
        padding-top: 4em
        @include rwd()
            padding-top: 0
        #logo
            display: block
            width: 100%
            max-width: 500px
            margin: 0 auto
        #press-start
            display: block
            width: 80%
            max-width: 400px
            margin: 6em auto 4em auto
            cursor: pointer
            @include animation('blink 1s steps(5, start) infinite')
            opacity: 0.95
            &:hover
                opacity: 1
                @include animation('none')
            img
                width: 100%


main
    position: relative
    width: 90%
    max-width: 700px
    margin: 0 auto
    color: rgba(255, 255, 255, 0.9)

    article
        line-height: 1.8em
        h2
            font-size: 2em
            margin: 3em 0 0.5em -2em
            padding-bottom: 0.3em
            border-bottom: 1px solid rgba(255, 255, 255, .6)
            color: white
            &::first-letter
                color: #99dfff
            @include rwd()
                margin: 3em 0 0.5em 0
                text-align: center
        h3
            font-size: 1.5em
            margin-top: 2em
        p
            text-align: justify
            margin: .8em auto
        ul
            margin: .8em auto
            padding-left: 3em
            li
                text-align: justify
        h2 + *
            margin-top: 0
        .mono
            font-family: monospace
        #date-318
            margin-bottom: 2em
            width: 300px

    footer
        display: block
        font-size: 10pt
        margin-top: 4em
        padding-bottom: 4em
        text-align: center
        font-weight: 100
        color: rgba(255, 255, 255, 0.6)


#background
    position: fixed
    top: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    z-index: -2

    $color-list: #00214e, #00214e, #002654, #002b5b, #002f5f, #003667, #003d6d, #004475
    @for $i from 1 through length($color-list)
        div:nth-child(#{$i - 1})
            flex: 1
            background-color: nth($color-list, $i)

#btn-house
    position: fixed
    bottom: -20px
    left: 0
    z-index: -1
    @include rwd()
        display: none
    img
        width: 100%
        opacity: .3
