@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400')

*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body
    font-family: 'Open Sans', sans-serif


html
    height: 100%
    font-size: 16px


a
    color: #def5ff


main
    position: relative
    width: 90%
    max-width: 700px
    margin: 0 auto
    padding: 6em 0
    color: rgba(255, 255, 255, 0.9)

    header
        display: block
        margin-bottom: 6em
        img
            display: block
            width: 100%
            max-width: 500px
            margin: 0 auto

    article
        line-height: 1.8em
        h2
            font-size: 2em
            margin: 3em 0 0.5em -2em
            padding-bottom: 0.3em
            border-bottom: 1px solid rgba(255, 255, 255, .6)
            color: white
            &::first-letter
                color: #99dfff
            @media screen and (max-width: 900px)
                margin: 3em 0 0.5em 0
                text-align: center
        h3
            font-size: 1.5em
            margin-top: 2em
        p
            text-align: justify
            margin: .8em auto
        ul
            margin: .8em auto
            padding-left: 3em
            li
                text-align: justify
        h2 + *
            margin-top: 0
        .mono
            font-family: monospace

    footer
        display: block
        font-size: 10pt
        margin-top: 4em
        text-align: center
        font-weight: 100
        color: rgba(255, 255, 255, 0.6)


#background
    position: fixed
    top: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    z-index: -2

    $color-list: #00214e, #00214e, #002654, #002b5b, #002f5f, #003667, #003d6d, #004475
    @for $i from 1 through length($color-list)
        div:nth-child(#{$i - 1})
            flex: 1
            background-color: nth($color-list, $i)

#upbar
    padding: 0.5em
    width: 100%
    z-index: -1
    img
        width: 100%
