#cover-page {
	display: none;
	padding-top: 2em;
	padding-left: 4em;

	article {
		margin-top: 6em;
	}

	&.active {
		display: block;
	}
}

#cover {
	display: block;
	height: 100%;

	img {
		display: block;
	}

	[role="cover-title"] {
		position: relative;

		[role="cover-logo"] {
			width: 75%;
		}

		[role="cover-date"] {
			position: absolute;
			left: 80%;
			bottom: 0;
			width: 13%;
		}

		[role="cover-link"] {
			position: absolute;
			left: 75%;
			top: 10%;
			width: 15%;
			min-width: 6em;

			a {
				display: block;
				width: 100%;
				margin: 1px;
				padding: .5em 0;
				text-align: center;
				font-weight: 900;
				background-color: white;
				background-color: rgba(255, 255, 255, .8);
				color: color("blue");
				text-decoration: none;

				&:hover {
					background-color: white;
				}
			}
		}
	}

	[role="cover-press-start"] {
		width: 300px;
		margin: 100px auto 0 auto;
	}

	[role="cover-arrow"] {
		width: 50px;
		margin: 10px auto 0 auto;
	}

}

#code-of-conduct {
	color: color("magenta");
	text-decoration: underline;
	font-weight: 900;
	cursor: pointer;
}
