#navbar {
	position: fixed;
	right: 3.5em;
	top: 50%;
	transform: translate(0, -50%);

	@include tablet() {
		display: flex;
		right: 0;
		top: 0;
		transform: none;
		width: 100%;
	}
}

.linkbox {
	margin: 2em 0;
	display: block;
	position: relative;
	list-style: none;
	cursor: pointer;
	text-decoration: none;
	color: color("white");

	@include tablet() {
		flex: 1;
		margin: 0;
		background-color: color("magenta");
		border-left: 1px solid white;

		&:first-child {
			border-left: none;
		}
	}

	img[role="red-block"] {
		height: 5em;
		left: 0;
		top: 0;
		z-index: -1;

		@include tablet() {
			display: none;
		}
	}

	img[role="red-arrow"] {
		display: none;
		position: absolute;
		top: 60%;
		right: 100%;
		height: 10px;
		transform: translate(-50%, -50%) rotate(-90deg);

		@include tablet() {
			opacity: 0;
		}
	}

	&.active img[role="red-arrow"] {
		display: block;
	}

	.linkbox-front {
		position: absolute;
		width: 100%;
		top: 55%;
		left: 63%;
		text-align: center;
		font-weight: 900;
		transform-origin: left top;
		transform: skew(0deg, -18deg) translate(-50%, -50%);

		@include tablet() {
			position: static;
			transform: none;
			padding: .5em 0;
		}
	}
}
