#navbar {
	position: fixed;
	right: 3.5em;
	top: 50%;
	transform: translate(0, -50%);
}

.linkbox {
	margin: 2em 0;
	display: block;
	position: relative;
	list-style: none;
	cursor: pointer;
	text-decoration: none;
	color: color("white");

	img {
		height: 5em;
		left: 0;
		top: 0;
		z-index: -1;
	}

	.linkbox-front {
		position: absolute;
		width: 100%;
		top: 55%;
		left: 63%;
		text-align: center;
		font-weight: 900;
		transform-origin: left top;
		transform: skew(0deg, -18deg) translate(-50%, -50%);
	}

}
