#schedule-page {
	display: none;
	padding-right: 1em;

	@include cellphone-rwd() {
		padding-top: 1em;
	}

	&.active {
		display: block;
	}

	h2 {
		text-align: center;

		&:not(:first-of-type) {
			margin-top: 3em;
		}
	}

	table {
		width: 100%;
		min-width: 500px;
		border-spacing: 1px;
		color: #333;
	}

	th {
		font-size: 14pt;
		font-weight: 900;
		vertical-align: top;
		color: color("magenta");

		a {
			display: inline-block;
			font-size: 10pt;
			margin: 0 .2em;
			padding: .3em;
			background-color: color("magenta");
			color: white;
			cursor: pointer;
			text-decoration: none;
		}
	}

	td {
		max-width: 250px;
		padding: 1.5em .5em;
		text-align: center;
		background-color: white;
		opacity: .8;
		transition: all 300ms cubic-bezier(0.17, 0.84, 0.44, 1);

		&.clickable {
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}

		&[role="unconf"] {
			padding: .5em .5em;
		}

		&.time {
			width: 3.5em;
			position: relative;
			background-color: transparent;

			[role="start-time"] {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
			}

			[role="end-time"] {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-align: center;
			}

			strong {
				font-size: 14pt;
				color: color("blue");
				display: inline-block;
			}

			span {
				font-size: 10pt;
				opacity: .8;
			}
		}

		[role="talk-speaker"] {
			font-size: 10pt;
			font-style: italic;
			margin-top: .5em;

			[role="photo"] {
				display: inline-block;
				height: 2em;
				width: 2em;
				vertical-align: middle;
				border-radius: 50%;
				background-color: white;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-size: cover;
			}
		}

		[role="talk-slides"] {
			font-weight: 600;
		}

		.col {
			cursor: pointer;
		}

		a {
			font-size: 10pt;
			color: color("blue");
			opacity: .8;

			&[href=""] {
				display: none;
			}
		}
	}

	[role="special-events"] {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;

		@include tablet() {
			width: 95%;
		}

		section {
			flex: 1 0 auto;
			min-width: 150px;
			margin-top: 1em;
			margin-left: 1em;
			padding: .5em 0;
			text-align: center;
			text-decoration: none;
			color: white;
			background-color: color("magenta");
			opacity: .8;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}
	}
}
