#sponsor-page {
	display: none;

	&.active {
		display: block;
	}

	& > section:not(:first-of-type) {
		margin-top: 4em;
	}

	.sponsor-class-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.sponsor {
		position: relative;
		width: 300px;

		img {
			display: block;
			width: 80%;
			margin: 0 auto;
			background-color: white;
		}
		p {
			width: 100%;
			text-align: center;
		}
	}
}
