* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Noto Sans', 'Microsoft JhengHei', 'PT Sans Narrow', 'Source Han Sans TWHK', sans-serif;
}

#app {
	padding: 30px;
}
