* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', 'Microsoft JhengHei', 'PT Sans Narrow', 'Source Han Sans TWHK', sans-serif;
}
