#viewer {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.content-container {
	position: relative;
	padding: 4em 0;
	height: 100%;
	width: 70%;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, .8);

	h2 {
		color: color("magenta");
	}

	p {
		max-width: 500px;
		line-height: 1.4em;
		text-align: justify;
		color: color("blue");
	}

	@include tablet() {
		width: 100%;
	}
}

.side-decorator {
	display: block;
	position: absolute;
	left: 70%;
	top: 0;
	height: 0;
	width: 0;
	border-top: 100vh solid rgba(255, 255, 255, .8);
	border-right: 150px solid transparent;

	@include tablet() {
		display: none;	
	}
}
